body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    background-color: white;
    width: 500px;
    padding: 40px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 160px;
    margin-bottom: 15px;
}

h1 {
    color: #006b54;
    font-size: 36px;
    margin-bottom: 10px;
}

h2 {
    color: #333;
}

p {
    color: #555;
    line-height: 1.6;
}

button {
    background-color: #006b54;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #004d3c;
}